<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if config.site_description %}<meta name="description" content="{{ config.site_description }}">{% endif %}
    {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
    {% if page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
    <link rel="{{ 'img/favicon.ico'|url }}">

    {% block htmltitle %}
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
    {% endblock %}

    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css">
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href="{{ 'css/bootstrap-custom.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/base.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/cinder.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/highlight.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/custom.css'|url }}" rel="stylesheet">


    {%- for path in config['extra_css'] %}
    <link href="{{ path|url }}" rel="stylesheet">
    {%- endfor %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.28/webfont.js"></script>
    <script>
    WebFont.load({
        google: {
            families: ['Open Sans', 'PT Sans']
        }
    });
    </script>

    {% if config.google_analytics %}
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ config.google_analytics[0] }}', '{{ config.google_analytics[1] }}');
    ga('send', 'pageview');
    </script>
    {% endif %}

    {% block extrahead %} {% endblock %}
</head>

<body{% if page and page.is_homepage %} class="homepage" {% endif %}>

    {% include "nav.html" %}

    <div class="container">
        <div class="row"> 
            {% block content %}
            {% if page.meta.disable_toc %}
            <div class="col-md-12" role="main">{% include "content.html" %}</div>
            {% else %}
            <div class="col-md-3">{% include "toc.html" %}</div>
            <div class="col-md-9" role="main">{% include "content.html" %}</div>
            {% endif %}
            {% endblock %}
        </div>
    </div>

    <footer class="col-md-12 text-center">
        {% block footer %}
        <hr>
        <small><p>INEA/CEF funded project worked on by NCSC-FI, JAMK University of Applied Sciences & University of Oulu</p></small>
        <div class="container">
            <div class="col-md-3 col-sm-6 col-xs-6 my-3"><a href="https://ec.europa.eu/inea/en"><img class="img-fluid" src="{{ 'img/logos/eu.png'|url }}"></a></div>
            <div class="col-md-3 col-sm-6 col-xs-6 my-3"><a href="https://www.traficom.fi/en"><img class="img-fluid" src="{{ 'img/logos/traficom.png'|url }}" ></a></div>
            <div class="col-md-3 col-sm-6 col-xs-6 my-3"><a href="https://www.jamk.fi/en"><img class="img-fluid" src="{{ 'img/logos/jamk.png'|url }}" ></a></div>
            <div class="col-md-3 col-sm-6 col-xs-6 my-3"><a href="https://www.oulu.fi/university/"><img class="img-fluid" src="{{ 'img/logos/uni_oulu.png'|url }}" ></a></div>
        </div>

        {% if page and page.meta.revision_date %}<br>
        <small>Revised on: {{ page.meta.revision_date }}</small>
        {% endif %}
        {% endblock %}
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ 'js/bootstrap-3.0.3.min.js'|url }}"></script>
    <script src="{{ 'js/highlight.pack.js'|url }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
    var base_url = '{{ base_url }}';
    </script>
    <script src="{{ 'js/base.js'|url }}"></script>
    {%- for path in config['extra_javascript'] %}
    <script src="{{ path|url }}"></script>
    {%- endfor %}

    <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                </div>
                <div class="modal-body">
                    <p>
                        From here you can search these documents. Enter your search terms below.
                    </p>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                        </div>
                    </form>
                    <div id="mkdocs-search-results"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    </body>

</html>
{% if page and page.is_homepage %}
<!--
MkDocs version : {{ mkdocs_version }}
Build Date UTC : {{ build_date_utc }}
-->
{% endif %}
