<div class="bs-sidebar hidden-print static-toc well" role="complementary">
    <ul class="nav bs-sidenav">
    {%- for item in nav %}
        {% set urlsplit = page.url.split('/') %}
        {%- if item.is_section and (item.title|lower) == (urlsplit[0]|lower) %}
            {%- for toc_item in item.children %}
                {%- if toc_item.is_section %}
                    {%- for sub_item in toc_item.children %}
                        <li class="first-level"><a href="{{ sub_item.url | url }}">{{ toc_item.title }}</a></li>
                    {%- endfor %}
                {% else %}
                    <li class="first-level"><a href="{{ toc_item.url | url }}">{{ toc_item.title }}</a></li>
                {%- endif %}
            {%- endfor %}
        {%- endif %}
    {%- endfor %}
    </ul>
</div>

<!--
<div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
        {%- for toc_item in page.toc %}
        <li class="first-level {% if toc_item.active %}active{% endif %}"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
            {%- for toc_item in toc_item.children %}
            <li class="second-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                {% for toc_item in toc_item.children %}
                <li class="third-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                {%- endfor %}
            {%- endfor %}
        {%- endfor %}
    </ul>
</div>
-->