.img-fluid {
    color: red;
    max-width: 100%;
}

.my-3 {
    padding: 15px;
}

.static-toc {
    position: static;
}

.bs-sidebar .nav>li>a {
    border-right: 1px solid white;
}

.bs-callout {
    border: 0px solid white;
    margin-bottom: 5pc;
}

.bs-callout > p {
    font-size: 20px;
}


.contact-img {
    max-height: 75px;
    margin: 15px 0px;
}

.bs-callout h4 {
    font-weight: bold;
}

.bs-callout h1 {
    font-weight: bold;
    font-size: 42px;
    color:#343838
}

.marginauto {
    margin: 10px auto 20px;
    display: block;
}

table {
    width: 60%;
    table-layout: fixed;
}

td {
    font-size: 20px;
}

.column {
    float: left;
    width: 33.33%;
    font-size: 20px;
    text-align: center;
    margin-left: 0px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  footer {
      margin-top: 50px;
  }